<!-- Menu -->
<div id="menu">   
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Inicio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Redes Sociales</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Facebook</a>
          <a class="dropdown-item" href="#">Instagram</a>
          <a class="dropdown-item" href="#">Twitch</a></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre mi</a>
      </li>
    </ul>
  </div>