/*Estilo del Menu */


.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
   
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }

#menu {
    margin:auto;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 600;
}

.dropdown-menu{
    padding: 0;
}

ul, ol {
    list-style:none;
}

ul {
    display: table-cell;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#1976d2;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#4a8fd2;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}